@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    margin: 0;
    background: #fff;
}

/* HEADER */
.cart-header {
    background: #fff;
    border-bottom: 1px solid #ddd;
    height: 80px;
}

.header-inner {
    max-width: 1200px;
    margin: 0 45px;
    padding: 15px 0px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.logo {
    font-size: 26px;
    color: #7e2626d5;
    font-weight: 700;
}

.steps span {
    margin: 0 10px;
    color: #bbb;
}

.steps .active {
    color: #000;
    font-weight: bold;
}

/* MAIN */
.cart-container {
    display: flex;
    padding: 30px 40px;
    gap: 30px;
}

/* LEFT */
.cart-left {
    width: 65%;
    background: #f6f6f6;
    padding: 20px;
    border-radius: 6px;
}

.cart-item {
    display: flex;
    gap:50px;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    height: 220px;
}

.cart-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.item-details h3 {
    margin: 0;
    font-size: 22px;
}

.price {
    font-size: 20px;
    font-weight: bold;
}

.old {
    text-decoration: line-through;
    color: #999;
    font-size: 14px;
}

.return {
    color: #7e2626d5;
    font-size: 14px;
    font-weight: bold;
}

.remove {
    color: #444;
    font-size: 14px;
    text-decoration: none;
}

.seller {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #555;
    padding-bottom: 20px;
}

/* RIGHT */
.cart-right {
    width: 35%;
    background: #f6f6f6;
    padding: 20px;
    border-radius: 6px;
}

.price-row {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
}

.total {
    font-size: 18px;
    font-weight: bold;
}


.continue-btn {
    width: 100%;
    background:#7e2626d5;
    color: #fff;
    padding: 14px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.note {
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    color: #666;
}


/* CENTER PANEL */
.steps-wrapper {
    grid-column: 2;
    justify-self: center;
    display: flex;
    align-items: center;
}


/* STEP */
.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80px;
}

.circle {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid #cfcfe6;
    color: #cfcfe6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background: #fff;
}

.label {
    margin-top: 6px;
    font-size: 14px;
    color: #cfcfe6;
}

/* ACTIVE STEP */
.step.active .circle {
    border-color: #7e2626d5;
    color: #7e2626d5;
}

.step.active .label {
    color: #000;
    font-weight: 600;
}

/* CONNECTING LINE */
.line {
    width: 100px;
    height: 2px;
    background: #cfcfe6;
    margin-bottom: 18px;
}
