.hero-title {
    text-align: center;
    padding: 80px 20px;   /* space from top & bottom */
}

.hero-title h1 {
    font-size: 48px;
    font-weight: 600;
    color: #333;
    margin-bottom: 15px;
}

.hero-title p {
    font-size: 20px;
    color: #555;
}
